body{
    height: 100vh;
    width: 100;
    max-width: 1080px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 8px;
    /* justify-content: center; */
    margin:auto;
    margin-bottom: 8px;
    /* position:relative */
    background-color: rgb(216, 213, 207);

}

nav {
margin-top: 1rem;
}

#headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    color:rgb(0, 0, 0);
    font-weight: 700;
    margin-bottom: 1rem;

}

.links{

    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    color:inherit;
    list-style: none;
    transition: 0.3s;
}


#navlinks a{
    font-size: 26px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.3s;
    
}

#navlinks a:hover{
color:darkgrey;
    
}


#hero {
    width: 100%;
    height: 65vh;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centering content */
    /* overflow: hidden; */
}


#imagecontainer{
    max-width: 250px;
    padding: 1.5px;
    position: relative;
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 28, 213));
    /* padding: 3px; */
    border-radius: 180px;
}

#heroimage {
    border-radius: 180px;
    width: 10rem;
    /* border: 2px solid rgb(0, 0, 187); */
    /* box-shadow: 0 0 0 5px black; */
    transform: rotate(3deg);

    background: #222;
    color: white;
    /* padding: 2rem; */

}



#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    padding-top: 2rem;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 8px;
}

#title {
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 1px;
}

#location {
    letter-spacing: 3px;
    font-size: 14px;
}

#qrcode {
    width: 7rem;
    margin-bottom: 2rem;
    
}
footer {
    z-index: 10;
}
#sociallinks{
margin-left: 2rem;
margin-right: 2rem;

}

#sociallinks i{
font-size: 2rem;
color: black;
transition: 0.3s;
}

#sociallinks i:hover{
color:darkgray
    }

#copyright{
    display: flex;
    font-size: 12px;
    justify-content:center;
    margin-top: 40px;
    margin-left: 20px;
}

/* Media query for mobile view */

@media (max-width: 550px) {
    
    #headline {
        font-size: 32px;
        
    }
    
    #navlinks li {
        
        font-size: 20px;
    }
    
    #profileimage {
        width: 8rem;
    }
    
    #sociallinks i{
        /* font-size: 28px; */

    }
    #sociallinks {
        margin-left: 0.25rem;
        margin-right: 0.25rem;

    }
}
